.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #e5e7eb;
    /* light gray */
    border-top: 5px solid #3b82f6;
    /* blue */
    border-radius: 50%;
    animation: spin 1s linear infinite;

}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}